#logo-long{
    max-width: 75vw;
    z-index: -1;
}
#tag{
    font-family: 'Press Start 2P', cursive;
    color: rgb(140, 193, 82);
}
#tag-under{
    font-family: 'Press Start 2P', cursive;
    color: rgb(80, 174, 85);
}
#contact{
    position: relative;
    font-family: 'Press Start 2P', cursive;
    text-align: right;
    color: rgb(140, 193, 82);
}